.profile-body {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.67;
}

.hector {
  /* height: 40vh; */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5vh 0;
  border-top: #2F2F2F solid 2px;
}
.alejandro {
  /* height: 40vh; */
  background-color: #dcdcdc00;
  padding: 5vh 0;
  border-top: #2F2F2F solid 2px;
}
#alejandro-img {
  /* height: 40vh; */
  background-color: #c2c2c2;

}
.alex {
  /* height: 40vh; */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5vh 0;
  border-top: #2F2F2F solid 2px;
}
#alex-img {
  /* height: 40vh; */
  background-color: #DCDCDC;

}






/* ==================== Strategic Partnerships ==================== */
.timeline-panel {
  background-color: rgba(0, 0, 0, 0.5);
}

.blue-bg {
  background: white !important;

}